/* ============== COMMON STYLES ============== */
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* ============== COMMON STYLES ============== */

/* ============== HEADER STYLES ============== */
.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logotype-spam {
  color: #2e2f42;
}

.visually-hidden {
  visibility: hidden;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: #404bbf;
}
.contact-title {
  font-style: normal;
}
.contact-list-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ============== HEADER STYLES ============== */

/* ============== SERVICE ORDER PAGE STYLES ============== */
.service-order-page {
  background-color: #2e2f42;
}
.service-order-page-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}
.order-service-btn {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
/* ============== SERVICE ORDER PAGE STYLES ============== */

/* ============== СOMPANY DESCRIPTION STYLES ============== */
.company-description {
  background-color: #ffffff;
}
.company-description-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.company-description-list-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============== СOMPANY DESCRIPTION STYLES ============== */

/* ============== WORKERS STYLES ============== */
.workers {
  background-color: #f4f4fd;
}
.team {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
}
.team-list-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============== WORKERS STYLES ============== */

/* ============== PORTFOLIO STYLES ============== */
.portfolio {
  background-color: #ffffff;
}
.portfolio-section {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-species {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============== PORTFOLIO STYLES ============== */

/* ============== FOOTER STYLES ============== */
.page-footer {
  background-color: #2e2f42;
}
.logotype-spam-footer {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ============== FOOTER STYLES ============== */
